[Unit]
Description=template-appliance healthcheck timer

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=template-appliance-healthcheck.service

[Install]
WantedBy=timers.target
